* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    text-transform: uppercase;
}
.nav-container a {
    padding: 10px;
}

.search-container {
    position: relative;
}
.search-container input{
    border: none;
    border-bottom: 1px solid #b2b2b2;
    padding: 5px;
}
.search-container input:focus{
    outline: none;
}
.search-container img {
    width: 20px;
    position: absolute;
    left: 150px;
}


.user-container a {
    margin: 5px;
    font-size: 12px;
}
.user-container a:hover {
    border-bottom: 1px solid black;
}




.menu-container {
    text-align: center;
    grid-column: 1 / 4;
}
.menu-container .menu-features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}
.menu-features .menu-items {
    display: none;
    text-align: left;
    flex-direction: column;
    position: absolute;
    background-color: #f4f2f2;
    width: 220px;
}
.menu-items li {
    padding: 15px;
}


.menu-features .menu-item:hover > .menu-items {
    display: flex;
}
.menu-item a:hover {
    color: #b2b2b2;
}


/*------------------------------MAIN------------------------------*/
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;

    text-transform: uppercase;
}
.features-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 60px;
}
.features-container a {
    padding-top: 10px;
}
.features-container a:hover {
    border-bottom: 1px solid black;
}
.products-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 30px;
}
.product-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.product-item img {
    width: 100%;
}
.product-item p {
    margin-top: 10px;
}
.product-item b {
    margin-top: 10px;
}
.product-item button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 10px;
    text-transform: uppercase;
}