
@media (max-width: 800px) {
    .footer-container {
        grid-template-columns: 1fr 1fr ;
    }
}

@media (max-width: 1210px) {
    .products-container {
        grid-template-columns: 200px 200px 200px;
    }
}
@media (max-width: 960px) {
    .main-container{
        margin-top: 50px;
        padding: 10px;
    }
    .nav-container {
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        row-gap: 15px;
    }
    
    .search-container {
        position: relative;
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
    .search-container input{
        border: none;
        border-bottom: 1px solid #b2b2b2;
        padding: 5px;
    }
    .search-container input:focus{
        outline: none;
    }
    .search-container img {
        width: 20px;
        position: absolute;
        left: 150px;
    }

    /**/
    .products-container {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .main-container{
        flex-direction: column;
        align-items: center;
    }
    .features-container {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px;
        margin-bottom: 30px;
    }
    .features-container a {
        background-color: #b2b2b2;
        color: black;
        margin-right: 10px;
        padding: 5px;
        margin-bottom: 10px;
    }
    .features-container b {
        display: none;
    }
    .features-container a:hover {
        background-color: #cccbcb;
        text-decoration: none;
    }
    .menu-container {
        display: none;
    }
}